@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {
  /* Firefox Scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  *:hover {
    scrollbar-color: #d0d0d0 transparent;
  }

  /* WebKit Scrollbar (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 8px;
  }

  html:hover::-webkit-scrollbar-thumb,
  body:hover::-webkit-scrollbar-thumb,
  .overflow-y-auto:hover::-webkit-scrollbar-thumb,
  .overflow-x-auto:hover::-webkit-scrollbar-thumb,
  .overflow-auto:hover::-webkit-scrollbar-thumb {
    background: #d0d0d0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0 !important;
  }
}
